<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Quiénes somos</h2><!-- translate here traduce aqui, original About-->
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Somos una iniciativa independiente para darle difusión a proyectos en el Sur de Puebla, sobre todo aquellos que tengan un impacto positivo social. Estamos continuamente buscando personas que compartan estas ganas de generar y utilizar herramientas alternativas para mejorar nuestras oportunidades laborales y de educación.</p><!-- translate here traduce aqui, original Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
        source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
        customization-->
      </div>
      <div class="col-lg-4">
        <p>No importa si eres estudiante o trabajador independiente, si tienes mucha experiencia o nada, contáctanos y seguramente podremos tener un significativo intercambio de ideas :D . Pasa la voz y visítanos en alguna otra de nuestras redes (ve). </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://linktr.ee/gromprojekt" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> LinkTree
        </a>
      </div>
    </div>
  </div>
</section>
